body{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 50px;
}

.mainNav{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid rgb(255, 216, 41);
    background-color: white;
    border-radius: 50px;
}
.navbar-brand{
    font-weight: bolder;
}

.topnavs {
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
}

.topnavs li a {
    box-sizing: border-box;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
}

.topnavs li.active a{    
    color: rgb(255, 216, 41);
}

.topnavs li a:hover , .active a{
    box-sizing: border-box;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 216, 41);
    border-radius: 20px;
    
}


#searchstore {
    border-radius: 20px;
}

#search{
    border: none;
    background-color: transparent;
    
}

.gurranty , .gurranty ul{
    border-radius: 20px;
    background-color: rgb(255, 216, 41);
}
.gurranty li{
    display: inline;
    margin-left: 40px;
    margin-right: 40px;
}

.carousel-inner{
    border-radius: 20px;
}

.sale{
    background-color: rgb(53, 53, 53);
    border-radius: 40px;
}
.sale a{
    background-color: rgb(255, 216, 41);
}
.sale a:hover{
    background-color: rgb(255, 216, 41);
    color: rgb(254, 254, 254);
}

.foot{
    background-color: rgb(255, 216, 41);
    border-radius: 50px;
}

.foot h1{
    color: black;
}

.foot a{
    text-decoration: none;
}

.foot button{
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border-radius: 20px;
}

.foot button:hover{
    color:  rgb(255, 216, 41);
}

@media screen and (max-width: 1300px) {
    
}